[Unit]
Description=Monitoring service

[Service]
ExecStart=glances -w -p 27017 -t 1
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
