[Unit]
Description=DeployRise.com

[Service]
ExecStart=/usr/bin/dotnet /var/DeployRise/DeployRiseService/DPService.dll
Restart=always
RestartSec=15
SyslogIdentifier=DeployRise.com

[Install]
WantedBy=multi-user.target